<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBEqAioLTxhJXo3mzjRMpHA29uZp-o_A8</string>
	<key>GCM_SENDER_ID</key>
	<string>96585517892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.i5.rn.app</string>
	<key>PROJECT_ID</key>
	<string>chillingchallenge-8b29c</string>
	<key>STORAGE_BUCKET</key>
	<string>chillingchallenge-8b29c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96585517892:ios:db7417819bf89c7073e511</string>
</dict>
</plist>